@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Sora:wght@300;400;700&display=swap");

body {
  min-height: 100vh;
  font-family: "Sora";
  width: 100%;
  background-color: rgb(247, 245, 237);
}

p,
h1,
h2,
h3,
h4,
a,
input,
textarea,
button,
li,
ul {
  margin: 0;
  box-sizing: border-box;
  color: rgb(34, 35, 37);
}
